[user]
    name = Pearl Li
    email = pearlzli16@gmail.com
[github]
    user = pearlzli
[alias]
    changes = diff --name-status -r
    diffstat = diff --stat -r
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=short
    rm = rm --cached
    tracked = ls-files
    unstage = reset HEAD
[branch]
    autosetuprebase = always
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[core]
    editor = emacs -nw
[diff]
    tool = ediff
    guitool = meld
[merge]
    tool = meld
[url "https://"]
    insteadof = git://
    pushInsteadOf = git://
[include]
    path = ~/.gitconfig-local
