[user]
    name = Pearl Li
    email = pearlzli16@gmail.com
[github]
    user = pearlzli
[alias]
    apply = apply --3way
    ch = checkout
    changes = diff --name-status -r
    diffstat = diff --stat -r
    hist = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cd) %C(bold blue)<%an>%Creset' --date=short
    rm = rm --cached
    tracked = ls-files
    unstage = reset HEAD
[branch]
    autosetuprebase = always
[color]
    diff = auto
    status = auto
    branch = auto
    interactive = auto
    ui = true
    pager = true
[core]
    editor = emacs -nw
[diff]
    tool = meld
[difftool]
    prompt = false
[difftool "meld"]
    path = /usr/local/bin/meld
    cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool]
    prompt = false
[mergetool "meld"]
    path = /usr/local/bin/meld
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
[url "https://"]
    insteadof = git://
    pushInsteadOf = git://
[include]
    path = ~/.gitconfig-local
