<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>phrase</key>
		<string>α</string>
		<key>shortcut</key>
		<string>\alpha</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>̅</string>
		<key>shortcut</key>
		<string>\bar</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>β</string>
		<key>shortcut</key>
		<string>\beta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∩</string>
		<key>shortcut</key>
		<string>\cap</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>·</string>
		<key>shortcut</key>
		<string>\cdot</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>χ</string>
		<key>shortcut</key>
		<string>\chi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∪</string>
		<key>shortcut</key>
		<string>\cup</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>δ</string>
		<key>shortcut</key>
		<string>\delta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ϵ</string>
		<key>shortcut</key>
		<string>\epsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>η</string>
		<key>shortcut</key>
		<string>\eta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>γ</string>
		<key>shortcut</key>
		<string>\gamma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≥</string>
		<key>shortcut</key>
		<string>\geq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>̂</string>
		<key>shortcut</key>
		<string>\hat</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟺</string>
		<key>shortcut</key>
		<string>\iff</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⟹</string>
		<key>shortcut</key>
		<string>\implies</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∈</string>
		<key>shortcut</key>
		<string>\in</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∫</string>
		<key>shortcut</key>
		<string>\int</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ι</string>
		<key>shortcut</key>
		<string>\iota</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>κ</string>
		<key>shortcut</key>
		<string>\kappa</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>λ</string>
		<key>shortcut</key>
		<string>\lambda</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≤</string>
		<key>shortcut</key>
		<string>\leq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>μ</string>
		<key>shortcut</key>
		<string>\mu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>≠</string>
		<key>shortcut</key>
		<string>\neq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ν</string>
		<key>shortcut</key>
		<string>\nu</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ω</string>
		<key>shortcut</key>
		<string>\omega</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ο</string>
		<key>shortcut</key>
		<string>\omicron</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>̅</string>
		<key>shortcut</key>
		<string>\over</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ϕ</string>
		<key>shortcut</key>
		<string>\phi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>π</string>
		<key>shortcut</key>
		<string>\pi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∏</string>
		<key>shortcut</key>
		<string>\prod</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ψ</string>
		<key>shortcut</key>
		<string>\psi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ρ</string>
		<key>shortcut</key>
		<string>\rho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>σ</string>
		<key>shortcut</key>
		<string>\sigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊆</string>
		<key>shortcut</key>
		<string>\subseteq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>∑</string>
		<key>shortcut</key>
		<string>\sum</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>⊇</string>
		<key>shortcut</key>
		<string>\supseteq</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>τ</string>
		<key>shortcut</key>
		<string>\tau</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>θ</string>
		<key>shortcut</key>
		<string>\theta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>̃</string>
		<key>shortcut</key>
		<string>\tilde</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>→</string>
		<key>shortcut</key>
		<string>\to</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>̲</string>
		<key>shortcut</key>
		<string>\under</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>υ</string>
		<key>shortcut</key>
		<string>\upsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ε</string>
		<key>shortcut</key>
		<string>\varepsilon</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>𝜑</string> <!--Typing this in comment makes Adobe Reader crash-->
		<key>shortcut</key>
		<string>\varphi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ϖ</string>
		<key>shortcut</key>
		<string>\varpi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ϱ</string>
		<key>shortcut</key>
		<string>\varrho</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ς</string>
		<key>shortcut</key>
		<string>\varsigma</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ϑ</string>
		<key>shortcut</key>
		<string>\vartheta</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ξ</string>
		<key>shortcut</key>
		<string>\xi</string>
	</dict>
	<dict>
		<key>phrase</key>
		<string>ζ</string>
		<key>shortcut</key>
		<string>\zeta</string>
	</dict>
</array>
</plist>
